* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 10px;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    width: auto;
  }
  
  .rating {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
  }
  
  img {
    padding-top: 10px;
    height: 300px;
    width: auto;
  }

  